# Core scientific stack
numpy==1.26.4
scipy==1.17.1
pandas==3.0.5

# Modeling / stats
scikit-learn==1.9.0
statsmodels==0.14
scikit-posthocs=0.16.1

# Dimensionality reduction
umap-learn==0.5.12
numba==0.59
pynndescent==0.6

# Plotting
matplotlib==3.8
seaborn==0.13.2

# Neurodata + DANDI
pynwb==4.2.0
h5py==3.16
dandi==0.78.0

# Utils
tqdm==4.70
openpyxl==3.1.5
numexpr==2.10.2
bottleneck==1.4.2